{% extends 'base.html' %} {% block content %}
<section class="hero is-large is-success">
  <div class="hero-body">
    <p class="title is-1">Featured Collections</p>
  </div>
</section>
<section class="container">
  <div class="gallery mt-5">
    {% for collection in collections %}
    <a href="{% url 'collection_detail' collection.pk %}" class="title is-4">
      <div class="card">
        <div class="card-image">
          <figure class="image is-square">
            <img src="{{collection.image}}" alt="{{collection.name}}" />
          </figure>
        </div>
        <div class="card-header">
          <p class="card-header-title">{{collection.name}}</p>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
  {% if user.is_authenticated %}
  <div>
    <a href="{% url 'collection_create' %}" class="button is-info"
      >Add New Collection</a
    >
  </div>
  {% endif %}
</section>
{% endblock %}
